.card__container {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.card {
    width: 90%; /* Adjusted width to make it responsive */
    margin: auto;
    padding: 1.5rem; /* Reduced padding */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.4), 0 1px 7px 0 rgba(0, 0, 0, 0.4);
    margin: 1.5rem 0; /* Reduced margin */
}

.card__info {
    font-size: 1.2rem; /* Reduced font size */
    margin-bottom: 1.5rem; /* Added margin for spacing */
}

.card__btn {
    display: block; /* Change to block for centering */
    margin: 1rem auto; /* Center the button */
    padding: 0.5rem 2rem; /* Reduced padding */
    font-size: 1.5rem; /* Reduced font size */
    background-image: linear-gradient(to bottom right, rgba(78, 172, 253, 1), rgba(8, 92, 243, 1));
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    text-align: center; /* Ensure text is centered */
    border: none; /* Optional: remove border */
}

.card__btn:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgba(8, 92, 243, 0.8), rgba(8, 92, 243, 0.8)); /* Hover effect */
}
